<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604720686169-nnk7frgpfr4tasrl1hjfqj2dktre1alf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604720686169-nnk7frgpfr4tasrl1hjfqj2dktre1alf</string>
	<key>API_KEY</key>
	<string>AIzaSyA9g79-ecN7EMlgoo_9siVwP-P7Rffh7uw</string>
	<key>GCM_SENDER_ID</key>
	<string>604720686169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoapp122</string>
	<key>PROJECT_ID</key>
	<string>todo-app-99b06</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-99b06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604720686169:ios:2d6275646b592c6572fd48</string>
</dict>
</plist>